__pycache__/
*.py[cod]
.venv/
.env
.env.*
.env.local
.env.prod
*.egg-info/
.pytest_cache/
.mypy_cache/
.DS_Store
.csv
*.sqlite3-wal
*.sqlite3-shm
nuri/*.log
*.log
local_dev.db
app/api/v1/nicknames/resources/forbidden_words.json
app/api/v1/nicknames/resources/forbidden_words.local.json
app/api/v1/nicknames/resources/forbidden_words.prod.json
!app/api/v1/nicknames/resources/forbidden_words.example.json
